body {
  display: flex;
  padding: 5% 15%;
}

section {
  margin: auto;
  margin-top: 70px;
}

h1 {
  position: absolute; 
}

@media (min-width: 768px) {
  body {
    font-size: larger;
  }
}

@media (min-width: 900px) {
  body {
    font-size: xx-large;
  }
}
