body {
  display: flex;
  padding: 5% 15%;
  font-size: small;
  font-family: monospace;
  gap: 5%;
}

section {
  margin: auto;
  margin-top: 70px;
}

h1 {
  position: absolute;
}

#head-score {
  display: flex;
  align-items: baseline;
  gap: 3%;
}

button {
  height: fit-content;
}

.scores {
  border: 3px solid;
}

li {
  list-style: none;
  padding: 3%;
}

li:nth-child(even) {
  background-color: gainsboro;
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

form {
  position: relative;
}

#submit {
  position: absolute;
  right: 0;
  width: fit-content;
}

@media (min-width: 768px) {
  body {
    font-size: larger;
  }
}

@media (min-width: 900px) {
  body {
    font-size: xx-large;
  }
}
